config.json
cogs/__pycache__/play.cpython-311.pyc
cogs/__pycache__/setup.cpython-311.pyc
cogs/__pycache__/test.cpython-311.pyc
cogs/__pycache__/register.cpython-311.pyc
cogs/skills/__pycache__/foraging.cpython-311.pyc
cogs/skills/__pycache__/mining.cpython-311.pyc
cogs/skills/__pycache__/farming.cpython-311.pyc
