config.json
cogs/__pycache__/play.cpython-311.pyc
cogs/__pycache__/setup.cpython-311.pyc
cogs/__pycache__/test.cpython-311.pyc
cogs/__pycache__/register.cpython-311.pyc
cogs/skills/__pycache__/foraging.cpython-311.pyc
cogs/skills/__pycache__/mining.cpython-311.pyc
cogs/skills/__pycache__/farming.cpython-311.pyc
cogs/skills/__pycache__/crafting.cpython-311.pyc
cogs/__pycache__/debug.cpython-311.pyc
cogs/skills/__pycache__/scavenging.cpython-311.pyc
cogs/skills/__pycache__/fishing.cpython-311.pyc
__pycache__/index.cpython-311.pyc
